*{
    margin: 0px;   
}

h5{ 
    background-color: rgb(54, 61, 39);
    text-align: center;
    padding: 20px;
    color: beige;
}

.center{
    background-color: rgb(54, 61, 39);
    color: white;
    padding: 20px;
    text-align: center;
    
}
li{
    display: inline;
    margin-right: 15px;} 
 .one{
     background-color: rgb(149, 141, 141);
     color: white;
 }   
.two{
    display: inline;

}
.left{
    background-color: gray;
    color: white;
    padding: 20px;
    text-align: center;

}
.far{
    margin-right: 40px;
}
#left{
    margin-left: 400px;
    background-color: green;
    height: 40px;
    width: 140px;
    
    

}
img{
    width: 40px;
    height: 40px;
}
.size{
    width: 20px;
    height: 20px;
}
.right{
    width:  140px;
    height: 40px;
}

